.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(92, 92, 92);
  text-align: center;
  color: rgb(218, 218, 218);
  padding: 14px 0;
  font-weight: 900;
  font-size: 1rem;
  transition: 0.5s;

  &:hover {
    background-color: lighten(rgb(92, 92, 92),20%);
  }
}

.btn-equal {
  @extend .btn;
  background-color: rgb(241, 140, 81);
}

.btn-add,
.btn-sub,
.btn-mult,
.btn-divide {
  @extend .btn;
  background-color: bisque;
  color: rgb(92, 92, 92);
}