@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import "btns.scss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Montserrat', sans-serif;;
}

body {
  width: 100vw;
  height: 100vh;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.main {
  padding: 20px;
  width: 100%;
  height: 100%;
  
}

.container {
  padding: 30px;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  background-color: #2c3e50;
  border-radius: 5%;

  .display {
    border: 1px solid rgb(107, 158, 30);
    padding: 10px;
    margin-bottom: 30px;
    color: white;
  }

  .squishy-grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 24px;
  }

}

